<a href="https://colab.research.google.com/github/KiranEC11/LeetCode-DSA/blob/main/learning_recursion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# print name N times

In [ ]:
def Print_name(name:str, N:int, count=0):
    if count==N:
        return
    print(name)
    Print_name(name,N,count+1)
    return

In [ ]:
Print_name('Kiran', 5)

Kiran
Kiran
Kiran
Kiran
Kiran

# print linearly from 1 to N

time complexity = O(n)

space = O(n)

In [ ]:
def Linear(N:int, count=1):
    if count > N:
        return
    print(count)
    Linear(N,count+1)
    return

In [ ]:
Linear(10)

1
2
3
4
5
6
7
8
9
10

# print linearly from N to 1, N>1

time complexity = O(n)

space = O(n)

In [ ]:
def Opp_Linear(N, count=0):
    if count==N:
        return
    print(N-count)
    Opp_Linear(N, count+1)
    return

In [ ]:
Opp_Linear(10)

10
9
8
7
6
5
4
3
2
1

In [ ]:
def Opp_Linear(N, count):
    if count==0:
        return
    print(count)
    Opp_Linear(N, count-1)
    return

In [ ]:
Opp_Linear(10,10)

10
9
8
7
6
5
4
3
2
1

# backtracking

# print linearly from N to 1, N>1 , using backtracking

time complexity = O(n)

space = O(n)

In [ ]:
def Backtrack_N(N, count):
    if count>N:
        return
    Backtrack_N(N, count+1)
    print(count)
    return

In [ ]:
Backtrack_N(10, 1)

10
9
8
7
6
5
4
3
2
1

In backtracking the print comes after the function calls. Hence count is incremented in each call but not printed. Printed starts from backwards.

# print linearly from 1 to N, using backtracking

time complexity = O(n)

space = O(n)

In [ ]:
def Back_N(N, count):
    if count<1:
        return
    Back_N(N, count-1)
    print(count)
    return

In [ ]:
Back_N(10,10)

1
2
3
4
5
6
7
8
9
10

## sum of first N numbers

### parameterised way: printing

In [ ]:
def sum_firstN(N):
    def sum_first_N(N, sum,count):
        if count > N:
            print(sum)
            return
        sum_first_N(N, sum+ count, count+1)
    sum_first_N(N, 0, 1)

In [ ]:
sum_firstN(10)

55

#### same question as above :  functional return

In [ ]:
def sum_firstN(N):
    def sum_first_N(N, sum,count):
        if count > N:
            # print(sum)
            return sum
        out = sum_first_N(N, sum+ count, count+1)
        return out
    return sum_first_N(N, 0, 1)

In [ ]:
sum_firstN(10)

55

## same que  in functional way

In [ ]:
def f(n):
    if n==0:
        return 0
    return n + f(n-1)

In [ ]:
f(10)

55

### factorial

In [ ]:
def fact(n):
    if n==1:
        return 1
    return n * fact(n-1)

In [ ]:
fact(5)

120

# reversing an array

In [ ]:
## using swap method

def reverse_swap(arr: list):
    l=0
    r=len(arr)-1
    while l<r:
        arr[l], arr[r] = arr[r], arr[l]
        l+=1
        r-=1
    return arr

In [ ]:
reverse_swap([1,2,3,4,5,6])

[6, 5, 4, 3, 2, 1]

In [6]:
## using recursion

def rev_array_rec(arr:list):

    def Swap(arr,l,r):
        if l>r:
            return
        arr[l],arr[r] = arr[r], arr[l]
        Swap(arr, l+1, r-1)
        return arr
    return Swap(arr,0,len(arr)-1)

In [7]:
rev_array_rec([1,2,3,4,5,6])

[6, 5, 4, 3, 2, 1]

In [10]:
## using recursion with one pointer

def rev_array_rec(arr:list):

    def Swap(arr,i):
        if i>= len(arr)/2:
            return
        arr[i],arr[len(arr)-1-i] = arr[len(arr)-1-i], arr[i]
        Swap(arr,i+1)
        return arr
    return Swap(arr,0)

In [11]:
rev_array_rec([1,2,3,4,5,6])

[6, 5, 4, 3, 2, 1]

## check if given string is a palindrome or not

In [14]:
def Palindrome(string: str):
    n = len(string)
    def palindrome(string, i, n:int):
        if i >=n/2:
            return True
        if string[i] == string[n-1-i]:
            r = palindrome(string, i+1, n)
        else:
            r= False
        return r
    return palindrome(string, 0, n)

In [19]:
Palindrome('madam')

True

In [20]:
## same problem as above with slight modifications
# I removed r

def Palindrome(string: str):
    n = len(string)
    def palindrome(string, i, n:int):
        if i >=n/2:
            return True
        if string[i] == string[n-1-i]:
            return palindrome(string, i+1, n)
        else:
            return False

    return palindrome(string, 0, n)

In [21]:
Palindrome('madam')

True

# multiple recursion calls

### Fibonacci numbers

In [22]:
# input is length of fibonacci series --> return fibonacci series of that length

def Fibonacci(n: int):
    arr = [0,1]
    def f(arr,n, i):
        if i>=n-2:
            return
        arr.append(arr[-1]+arr[-2])
        f(arr,n, i+1)
        return arr
    return f(arr,n,0)

In [23]:
Fibonacci(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [28]:
# input n: return nth fibonacci number

# input is length of fibonacci series --> return fibonacci series of that length

def Fibonacci(n: int):
    arr = [0,1]
    if n>2:
        def f(arr,n, i):
            if i>=n-2:
                return
            arr.append(arr[-1]+arr[-2])
            f(arr,n, i+1)
            return arr
        return f(arr,n,0)[-1]
    else:
        return arr[n-1]

In [36]:
Fibonacci(50)

7778742049

In [6]:
## same code without appending

def Fibo(n:int):
    # arr=[0,1]
    if n>2:
        def f(a,b,i):  ## a--> previous to previous, b--> previous i --> th element in series
            if i>n-2:
                return b
            ans = f(b,a+b,i+1)
            return ans
        return f(0,1,1) ## i=1 in initialisation
    else:
        return n-1

In [19]:
Fibo(6)

5

In [21]:
### same question as above but with two recursiion calls

## slight change here n-- is index (0 to ...)

## exponential time complexity

def Fibo_(n):
    def f(n):
        if n<=1:
            return n
        # last = f(n-1)
        # sec_last = f(n-2)
        return f(n-1) + f(n-2)
    return f(n)

In [22]:
Fibo_(5)  ## 3rd index, 4th element

5

# subset sum

In [46]:
def Subset_sum(arr):
    N = len(arr)
    ans=[]
    def f(arr, sum, i,N):
        if i>N-1:
            ans.append(sum)
            # return ans
            # print(sum)
        else:
            f(arr, sum+arr[i], i+1, N)
            f(arr, sum, i+1, N)
        return ans
    return f(arr, 0, 0, N)

In [47]:
Subset_sum([2,3])

[5, 2, 3, 0]

## Unique subsets

In [ ]:
class Solution:
    def subsetsWithDup(self, nums: List[int]) -> List[List[int]]:
        ans= []
        def f(self,index,subset,ans):
            if index == len(nums):
                subset.sort()
                if subset not in ans:
                    ans.append(subset)
                return
            f(self, index+1, subset+[nums[index]],ans)
            f(self, index+1, subset, ans)
            return
        f(self, 0,[],ans)
        return ans





    # def subsetsWithDup(self, nums: List[int]) -> List[List[int]]:
    #     ans = []
    #     res = set()


    #     def fun(index: int, ds: List[int]):
    #         if index == len(nums):
    #             ds.sort()
    #             res.add(tuple(ds))
    #             return
    #         ds.append(nums[index])
    #         fun(index + 1, ds)
    #         ds.pop()
    #         fun(index + 1, ds)
    #     fun(0, [])
    #     for it in res:
    #         ans.append(list(it))
    #     return ans